<h2 id="title">Try it Out!</h2>

{{#live-exec}}
  {{live-exec-template source='
Name: {{input value=name}}

{{#if name}}
  <div>Hello, {{name}}.</div>
{{/if}}
  '}}
  {{live-exec-output}}
{{/live-exec}}
